:root {
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-text-color-theme-dakr: #212121;
  --primary-text-color-theme-light:#757575;
  --secondary-text-color-theme-whaite:#FFFFFF;
  --secondary-text-color-thtme-whaite-light:#F5F5F5;
  --secondary-text-color-theme-light:#2196F3;
  --primary-text-color-theme-dark-light:#2F303A;
  --secondary-text-color-theme-grey:#F5F4FA;
  --accent-color:#188ce8;
  --secondary-text-grey-link: #AFB1B8;
  --function-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --time-transition: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: var(--primary-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
  background: var(--secondary-text-color-theme-whaite);
  color: var(--primary-text-color-theme-dakr);
}

h1, h2, h3, h4, p {
  margin-bottom: 0;
  margin-top: 0;
}

ul, ol {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: flex;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color-theme-light);
}

.logo__img {
  color: var(--primary-text-color-theme-dakr);
}

.link.current {
  color: var(--secondary-text-color-theme-light);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity var(--time-transition) var(--function-bezier);
}

.current::after,
.current:hover::after,
.current:focus::after {
  opacity: 1;
}

.page-header {
  position: relative;
  padding: 16px 15px;
}

.burder-btn {
  position: relative;
  display: inline-flex;
  padding: 0;
  margin: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
}
.burder-btn:hover, .burder-btn:focus {
  color: var();
}
@media screen and (min-width: 768px) {
  .burder-btn {
    display: none;
  }
}

.mobal-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: bisque;
}

.modal-menu_close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
}

.mobal-menu_container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-baner {
  background: var(--primary-text-color-theme-dark-light);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
}

.main-title {
  margin-top: 0px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.33;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 696px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-whaite);
}

.modal-btn {
  min-width: 152px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color-thtme-whaite-light);
  background-color: var(--secondary-text-color-theme-light);
  cursor: pointer;
  align-items: center;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-whaite);
}

.modal-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.blockquote {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  color: var(--primary-text-color-theme-dakr);
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: var(--accent-color);
}

.mobal__close-icon {
  fill: currentColor;
}

.checkbox-wrapper {
  margin-bottom: 30px;
}

.cont-policy {
  display: inline-block;
  line-height: 1.71;
  text-decoration: underline;
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}

.text-checkbox-label {
  display: flex;
  align-items: center;
}
.text-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  cursor: pointer;
  content: "";
  border: 2px solid var(--primary-text-color-theme-light);
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
}
.text-checkbox:checked + .text-checkbox-label::before {
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-color: #188ce8;
}
.text-checkbox:focus + .text-checkbox-label::before {
  border: 2px solid var(--accent-color);
}

.contact-form-btn {
  display: block;
  padding: 10px 55px;
  margin: 0 auto;
  transition: background-color var(--accent-color) var(--function-bezier);
}

.contact-form-btn {
  display: block;
  padding: 10px 55px;
  margin: 0 auto;
  transition: background-color var(--accent-color) var(--function-bezier);
}

.photo-market > .container {
  flex-direction: column;
}

.header-photo {
  border-bottom: 1px solid #ECECEC;
}

.photo-market {
  background-color: var(--secondary-text-color-theme-whaite);
  padding-bottom: 94px;
  padding-top: 94px;
}

.modal-button__primary {
  min-width: 73px;
  padding: 6px 22px;
  margin-right: 8px;
  font-family: inherit;
  font-weight: 500;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-text-color-theme-dakr);
  cursor: pointer;
  text-align: center;
  border: none;
  transition: background-color var(--time-transition) var(--function-bezier), color var(--time-transition) var(--function-bezier), box-shadow var(--time-transition) var(--function-bezier);
}
.modal-button__primary:hover, .modal-button__primary:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-whaite);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-list {
  display: none;
}

.list-ul {
  display: none;
}

.text-work {
  display: flex;
  margin-left: -30px;
}

.text-work > .text-work_desc {
  margin-right: 30px;
}

.container-work {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}

.work-icon {
  width: 70px;
  height: 70px;
}

.text-work_desc {
  width: 270px;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.work-title {
  padding-top: 94px;
  padding-bottom: 94px;
}

.text-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dakr);
}

.text-title-one {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.working-title {
  padding-top: 0px;
  padding-bottom: 94px;
}

.items-cart {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.items-cart__work {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.items-cart__label {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 27px;
  text-align: center;
  width: 100%;
  height: 70px;
  color: var(--secondary-text-color-theme-whaite);
  background: rgba(47, 48, 58, 0.8);
}

.sublabel {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.employees__cart {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employees__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  text-align: center;
  color: var(--primary-text-color-theme-dakr);
  margin-bottom: 10px;
}

.employees__socials {
  border-radius: 0px 0px 4px 4px;
  background: var(--secondary-text-color-theme-whaite);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__thumbnail:hover, .social-list__thumbnail:focus {
  background-color: var(--secondary-text-color-theme-light);
}

.social-list__icon {
  fill: var(--secondary-text-grey-link);
}
.social-list__thumbnail:hover .social-list__icon, .social-list__thumbnail:focus .social-list__icon {
  fill: var(--secondary-text-color-theme-whaite);
  background: var(--secondary-text-color-theme-light);
}

.work-profession {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--secondary-text-color-theme-grey);
}

.profession {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 16px;
}

.title-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-clien > .container {
  flex-direction: column;
}

.main-client {
  display: flex;
  justify-content: space-between;
}

.main-client__items {
  box-sizing: border-box;
}

.main-client__img {
  fill: var(--secondary-text-grey-link);
}

.main-client__list {
  display: inline-flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary-text-grey-link);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-client__list:hover, .main-client__list:focus {
  border-color: var(--secondary-text-color-theme-light);
}
.main-client__list:hover svg, .main-client__list:focus svg {
  fill: var(--secondary-text-color-theme-light);
}

.main-client > .main-client__items {
  height: 90px;
  width: 170px;
}

.main-client {
  display: flex;
  justify-content: space-between;
}

.address-footer-link {
  margin-top: 20px;
}

.footer-background {
  background: var(--primary-text-color-theme-dark-light);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--secondary-text-color-theme-whaite);
}

.end {
  margin-bottom: 9px;
}
.end:last-child {
  margin-bottom: 0px;
}

.logo-address {
  margin-top: 20px;
}

.color-text-soc {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-adress {
  color: var(--secondary-text-color-theme-whaite);
}

.contacts-footer {
  font-weight: normal;
  font-style: normal;
  line-height: 1.42;
}
.contacts-footer:hover, .contacts-footer:focus {
  color: var(--accent-color);
}

.footer-decor {
  width: 231px;
  margin-right: 70px;
}

.social {
  min-width: 206px;
}

.footer-background .container {
  display: flex;
  align-items: baseline;
}

.social__list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.icon-color {
  fill: currentColor;
}

.subscription,
.social > p {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-whaite);
}

.social__clip-list {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-text-color-theme-whaite);
  transition: fill var(--time-transition) var(--function-bezier);
}
.social__clip-list:hover, .social__clip-list:focus {
  background-color: var(--secondary-text-color-theme-light);
}

.social__clip-list:hover .main-client__img,
.social__clip-list:focus .main-client__img {
  fill: var(--secondary-text-color-theme-whaite);
  background: var(--secondary-text-color-theme-light);
}

.text-clip {
  color: var(--primary-text-color-theme-light);
}

.form-footer {
  min-width: 570px;
  margin-left: 93px;
}

.form__subscription {
  display: inline-flex;
  min-width: 358px;
  margin-right: 12px;
}

.sing-email {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.sing-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  margin-left: -4px;
}

.icon-sub {
  margin-left: 10px;
}

.text-backdrop {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color-theme-dakr);
}

.text-form {
  position: relative;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.text-user {
  display: inline-block;
  margin-bottom: 4px;
}

.text-user,
.contact-form-input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-theme-light);
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-input {
  display: block;
  width: 100%;
  padding: 12px 12px 12px 42px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--time-transition) var(--function-bezier);
}
.contact-form-input:focus {
  outline: none;
  border-color: var(--secondary-text-color-theme-light);
}

.contact-form-input:focus + .icon-svg-form {
  fill: var(--secondary-text-color-theme-light);
}

.icon-svg-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--time-transition) var(--function-bezier);
}

.contact-form-field {
  display: block;
  margin-bottom: 20px;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 12px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--time-transition) var(--function-bezier);
}
.contact-form-message:focus {
  outline: none;
  border-color: var(--secondary-text-color-theme-light);
}
.contact-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.employees__name-photo {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dakr);
}

.text-photo {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color-theme-light);
}

.padding-img {
  flex-basis: calc((100% - 270px) / 9);
  margin-left: 30px;
  margin-top: 30px;
}

.photo-text {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio-main {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.poster {
  display: block;
}
.poster:hover, .poster:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.poster:hover .portfolio-overlay,
.poster:focus .portfolio-overlay {
  transform: translateY(0);
}

.poster:hover,
.poster:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  box-shadow: none;
  transform: translateY(100%);
  transition: var(--time-transition) var(--function-bezier);
}

.description {
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color-theme-whaite);
}/*# sourceMappingURL=main.css.map */