// .contact-form{
//     // border-radius: inherit;
// }

.text-backdrop{
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color-theme-dakr);

    @media screen and (min-width: 1200px) {
        line-height: 1.15;
    }
}

.text-form{
    position: relative;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}
.text-user {
    display: inline-block;
    margin-bottom: 4px;
}
.text-user,
.contact-form-input{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color-theme-light);
}

.contact-form-input-wrapper{
    position: relative;
    display: block;
    margin-top: 4px;
}

.contact-form-input{
    display: block;
    width: 100%;
    padding: 12px 12px 12px 42px;
    margin: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color var(--time-transition) var(--function-bezier);

    &:focus {
        outline: none;
        border-color: var(--secondary-text-color-theme-light);
    }
}


.contact-form-input:focus + .icon-svg-form{
    fill: var(--secondary-text-color-theme-light);
}

.icon-svg-form{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--time-transition) var(--function-bezier)
}

.contact-form-field{
    display: block;
    margin-bottom: 20px;
}
.contact-form-message{
    width: 100%;
    margin-top: 4px;
    padding: 12px 12px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--time-transition) var(--function-bezier);

    &:focus {
        outline: none;
        border-color: var(--secondary-text-color-theme-light);
    }
    &::placeholder{
        color: rgba(117, 117, 117, 0.5);
    }

    @media screen and (min-width:480px) {
        height: 120px;
    }
}

