// --mobal--
@media screen and(max-width:768px) {
  .nav-list{
    display: none;
  }
}


@media screen and (min-width:768px )  {
  .nav-list{
    display: flex;
  }

  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }

  .nav-list{
    display: flex;
    align-items: center;
  }

  .nav-list .link{
   display: block;
   padding: 32px 0px 32px;
   font-weight: 500;
   line-height: 1.42;
   letter-spacing: 0.02em;
   color: var(--primary-text-color-theme-dakr);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
     color: var(--accent-color);
    }

  }

  .nav-list > .nav-list__item {
    position: relative;
  }
}


