.checkbox-wrapper{
    margin-bottom: 30px;
}
.cont-policy{
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;

    text-decoration: underline;
    color: var(--accent-color);
    text-decoration-skip-ink: none;

   
}
.text-checkbox-label{
    display: flex;
    align-items: center;

    &::before{
        display: inline-block;
        width: 16px;
        height: 15px;
        cursor: pointer;
        content: "";
        border: 2px solid var(--primary-text-color-theme-light);
        border-radius: 2px;
        margin-left: 10px;
        margin-right: 10px;
    
        .text-checkbox:checked + &{
            background-image:url(../images/icon\ check.svg);
            background-size: contain;
            background-origin: border-box;
            background-repeat: no-repeat;
            background-color: #188ce8;
        }
    
        .text-checkbox:focus + &{
            border: 2px solid var(--accent-color);
        }
    }
}


.contact-form-btn{
    display: block;
    padding: 10px 55px;
    margin: 0 auto;
    transition: background-color var(--accent-color) var(--function-bezier);
}
.text-checkbox-label{
    font-size: 12px;
    font-weight: 400;
    @media screen and (min-width:1200px) {
        font-size: 14px;
    }
}
