.main-title {
    margin-top: 0px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.33;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 696px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color-theme-whaite);
}