.main-title {
    margin: 0 auto 30px;
    width: 100%;
    // margin-top: 0px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 0px;
    // margin-bottom: 30px;
    // width: 696px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color-theme-whaite);

    @media screen and (min-width: $mobile) {
        width: 360px;
    }
    
    @media screen and (min-width: $desktop) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}