.main-title {
    margin: 0 auto 30px;
    width: 100%;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    margin-top: 0px;
    // text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color-theme-whaite);

    @media screen and (min-width: 480px) {
        width: 360px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    padding: 10px 32px;
}