.page-header{
    position: relative;
    // border-bottom: 1px solid #ececec;
    padding: 16px 15px;
}
.burder-btn{
    position: relative;
    display: inline-flex;
    padding: 0;
    margin: 0;
    line-height: 0;

    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
      color: var();
    }
  
    @media screen and (min-width: $tablet) {
      display: none;
    }
}
// .header-container{
//     .header__container {
//         @media screen and (max-width: 767px) {
//           width: 100%;
//         }
//       }
// }


.page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


// .header-container{
//     display: flex;
//     align-items: center;
// }


