body { 
   font-family: var(--primary-font-family);
   font-size: 14px;
   letter-spacing: 0.03em;
   background: var(--secondary-text-color-theme-whaite);
   color: var(--primary-text-color-theme-dakr);
}   
h1,h2,h3,h4,p {
    margin-bottom: 0;
    margin-top: 0;
}
ul,ol {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
img {
    display: block;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none ;
}

.link {
    text-decoration: none;
}

.text {
    margin-top: 0px;
    margin-bottom: 0px;
}