:root {
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --primary-text-color-theme-dakr: #212121;
    --primary-text-color-theme-light:#757575; 
    --secondary-text-color-theme-whaite:#FFFFFF;
    --secondary-text-color-thtme-whaite-light:#F5F5F5;
    --secondary-text-color-theme-light:#2196F3;
    --primary-text-color-theme-dark-light:#2F303A;
    --secondary-text-color-theme-grey:#F5F4FA; 
    --accent-color:#188ce8;
    --secondary-text-grey-link: #AFB1B8;
    --function-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --time-transition: 250ms;
     
}